.question {
    img {
        cursor: pointer;
    }
}

.answers {
    width    : 20%;
    min-width: 200px;

    .answer {
        display    : flex;
        gap        : 15px;
        align-items: center;

        input {
            cursor: pointer;
        }

        label {
            cursor: pointer;
        }
    }

    img {
        max-width: 50%;
    }
}