.list-quiz-container {
    display        : flex;
    padding        : 5% 0;
    flex-wrap      : wrap;
    gap            : 50px;
    justify-content: space-between;

    .quiz-container {
        padding: 0;

        .card {
            height: 70vh;
        }
    }
}