.list-quiz-container {
    display  : flex;
    padding  : 5% 0;
    flex-wrap: wrap;
    gap      : 50px;

    .quiz-container {
        padding: 0;

        .card {
            height: 50vh;
        }
    }
}