.list-quiz-container {
    display        : flex;
    justify-content: center;
    padding        : 5% 0;
    flex-wrap      : wrap;
    gap            : 50px;

    .quiz-container {
        .card {
            height: 50vh;
        }
    }
}