.admin-container {
    display: flex;


    .sidebar-container {
        .pro-sidebar {
            height: 100vh;

            @media screen and (max-width: 768px) {
                left: 0;

            }
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            height          : 9.5vh;
            padding-left    : 30px;
            padding-right   : 40px;
            border-bottom   : 1px solid rgb(235, 227, 227);
            background-color: rgb(235, 235, 235);
            display         : flex;
            justify-content : space-between;
            align-items     : center;

            .setting {
                display     : flex;
                margin-right: 8%;

                .language-setting {
                    margin-left: 30px;
                }
            }

            .icon-collapse {
                font-size: 1.5em;
                display  : inline-block;
                cursor   : pointer;

                &:hover {
                    color: rgb(107, 107, 107);
                }

            }
        }


    }
}